<template name="linkForm" xmlns="http://www.w3.org/1999/html">
    <div class="alert alert-success alert-dismissable">Operation done. <a class="close" onclick="$('.alert-success').hide()">×</a></div>
    {{#unless alive}}
        <div class="alert alert-danger">The requested URL doesn't seem to have the placed URL.</div>
    {{/unless}}
    <form class="main">
        <div class="control-group-row">
            <div class="control-group">
                <label class="control-label" for="requested_url">Requested URL</label> {{alive}}

                <div class="controls">
                    <input name="requested_url" type="text" value="{{requested_url}}" placeholder="Requested URL"/>
                </div>
            </div>
        </div>

        <div class="control-group-row">
            <div class="control-group">
                <label class="control-label" for="placed_url">Placed URL</label>

                <div class="controls">
                    <input name="placed_url" type="text" value="{{placed_url}}" placeholder="Placed URL"/>
                </div>
            </div>
        </div>

        <div class="control-group-row given_url">
            <div class="control-group">
                <label class="control-label" for="given_url">Given URL</label>

                <div class="controls">
                    <input name="given_url" type="text" value="{{given_url}}" placeholder="Given URL"/>
                </div>
            </div>
        </div>

        <div class="control-group">
            <div class="controls alive">
                <a class="btn alive" href="#">Alive?</a>
            </div>
        </div>

        <hr/>

        <div class="control-group">
            <label class="control-label badge" for="moz_da">Pagerank</label>

            <div class="controls">
                <input name="google_pagerank" type="text" value="{{google_pagerank}}" placeholder="Google Pagerank"/>
            </div>
        </div>

        <div class="control-group-row">
            <div class="control-group">
                <label class="control-label badge badge-success" for="moz_da">Domain Authority</label>

                <div class="controls">
                    <input name="moz_da" type="text" value="{{moz_da}}" placeholder="Moz Domain Authority"/>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label badge badge-info" for="maj_citation">Citation</label>

                <div class="controls">
                    <input name="maj_citation" type="text" value="{{maj_citation}}" placeholder="Majestic Citation"/>
                </div>
            </div>
        </div>

        <div class="control-group-row">
            <div class="control-group">
                <label class="control-label badge badge-success" for="moz_trust">Trust</label>

                <div class="controls">
                    <input name="moz_trust" type="text" value="{{moz_trust}}" placeholder="Moz Trust"/>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label badge badge-info" for="maj_trust">Trust</label>

                <div class="controls">
                    <input name="maj_trust" type="text" value="{{maj_trust}}" placeholder="Majestic Trust"/>
                </div>
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <a class="btn get-metrics" href="#">Get metrics</a>
            </div>
        </div>

        <hr/>

        <div class="control-group-row">
            <div class="control-group">
                <label class="control-label" for="contact_name">Contact name</label>

                <div class="controls">
                    <input name="contact_name" type="text" value="{{contact_name}}" placeholder="Contact name"/>
                </div>
            </div>
        </div>

        <div class="control-group-row">
            <div class="control-group">
                <label class="control-label" for="contact_email">Contact email</label>

                <div class="controls">
                    <input name="contact_email" type="text" value="{{contact_email}}" placeholder="Contact email"/>
                </div>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="note">Note</label>

            <div class="controls">
                <textarea rows="5" name="note" type="text" placeholder="Note">{{note}}</textarea>
            </div>
        </div>

        <div class="control-group-row">
            <div class="control-group">
                <div class="controls">
                    <input type="submit" value="Submit" class="btn btn-primary submit"/>
                </div>
            </div>
        </div>

        <div class="control-group-row delete">
            <div class="control-group">
                <div class="controls">
                    <a class="btn btn-danger delete" href="#">Delete</a>
                </div>
            </div>
        </div>
    </form>
</template>