<template name="linkShow">
    <div class="link">
        <div class="link-content">
            <h3><a href="{{requested_url}}">{{requested_url}}</a></h3>
            <div class="badge">{{google_pagerank}}</div>
            <div class="badge badge-success">{{moz_da}}</div>
            <div class="badge badge-success">{{moz_trust}}</div>
            <div class="badge badge-info">{{maj_citation}}</div>
            <div class="badge badge-info">{{maj_trust}}</div>
        </div>
        <div class="link-content"><h3><a href="{{placed_url}}">{{placed_url}}</a></h3></div>
        <a href="{{linkEditPath this}}" class="edit btn {{#unless alive}}btn-warning{{/unless}}">Edit</a>
    </div>
</template>