.grid-block, .main, .link {
    background: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

#main {
    padding-top: 50px;
}

body {
    background: #eee;
    color: #666666;
}

.navbar {
    margin-bottom: 10px;
}

/* line 32, ../sass/style.scss */
.navbar .navbar-inner {
    -webkit-border-radius: 0px 0px 3px 3px;
    -moz-border-radius: 0px 0px 3px 3px;
    -ms-border-radius: 0px 0px 3px 3px;
    -o-border-radius: 0px 0px 3px 3px;
    border-radius: 0px 0px 3px 3px;

    padding-left: 10px;
}

#spinner {
    height: 300px;
}

.link {
    /* For modern browsers */
    /* For IE 6/7 (trigger hasLayout) */
    *zoom: 1;
    -webkit-transition: all 300ms 0ms;
    -webkit-transition-delay: ease-in;
    -moz-transition: all 300ms 0ms ease-in;
    -o-transition: all 300ms 0ms ease-in;
    transition: all 300ms 0ms ease-in;
    position: relative;
    opacity: 1;

    width: 98%;
}

.link:before, .link:after {
    content: "";
    display: table;
}

.link:after {
    clear: both;
}

.link.invisible {
    opacity: 0;
}

.link {
    display: block;
    margin: 7px 12px 0 0;
    float: left;
}

.link ul ol {
    width: 250px;
    margin: 0px 0 10px 10px;
}

.link .link-content {
    float: left;
    width: 40%;
}

.link .link-content h3 {
    margin: 0;
    line-height: 1.4;
    font-size: 18px;
}

.link .link-content h3 a {
    display: inline-block;
    margin-right: 5px;
}

.link .link-content h3 span {
    font-weight: normal;
    font-size: 14px;
    display: inline-block;
    color: #aaaaaa;
}

.link .link-content p {
    margin: 0;
}

.link .edit {
    display: block;
    float: right;
    margin-top: 7px;
}

.control-group-row {
    display: inline-block;
}

.control-group {
    display: inline;
}

.dropdown-menu span {
    display: block;
    padding: 3px 20px;
    clear: both;
    line-height: 20px;
    color: #bbb;
    white-space: nowrap;
}

.load-more {
    display: block;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.05);
    text-align: center;
    height: 60px;
    line-height: 60px;
    margin-bottom: 10px;
}

.load-more:hover {
    text-decoration: none;
    background: rgba(0, 0, 0, 0.1);
}

.metrics {
    margin-top: 10px;
}

.alert-success {
    display: none;
}

.alert, .alert-success {
    text-align: center;
}

.given_url, .delete {
    float: right;
}

textarea {
    width: 429px;
}